# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

venv/
**/venv/
.env
__pycache__/
node_modules/
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# React
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local

# JAC session files
*.session
*.session.users.json

# Jac build artifacts
__jac_gen__/
*.jir

# Model Cache
models_cache/*
*.lock
*.safetensors
docs/todo.md
