# spacy
# transformers
# torch
# fastapi
# uvicorn
# requests
# byllm
# jaseci

torch --index-url https://download.pytorch.org/whl/cpu
transformers
spacy
sentence-transformers
weaviate-client<4.0.0
python-dotenv
google-generativeai

fastapi
uvicorn
requests

byllm
jaseci
