# spacy
# transformers
# torch
# fastapi
# uvicorn
# requests
# byllm
# jaseci

transformers
spacy==3.7.4
sentence-transformers
weaviate-client<4.0.0
python-dotenv
google-genai

fastapi
uvicorn
requests
Pillow
jaseci
